:root {
  /*rgb(10, 161, 149);*/
  --color-one: rgb(133, 85, 226);
  --color-one-light: rgb(249, 247, 255);
  --color-one-light-dark: rgb(242, 240, 255);
  --color-one-dark: rgb(83, 39, 168);
  --color-one-rgb: 164, 129, 248;
  /*--color-one: rgb(255, 0, 131);
  --color-one-light: rgb(255, 0, 131, 0.2);*/

  /*New Desing*/
  --color-one: #8555e2;
  --color-two: #ed6b5e;
  --color-three: #555555;
  --color-four: #f2f0ff;
  --color-five: #ffedeb;
  --color-six: #5d5d5b;
  --color-seven: #5327a8;
  --color-eight: #f5f7f9;

  --gray-one: #f5f5f5;
  --gray-two: #dddddd;
  --gray-three: #777777;
}

.text-main {
  color: var(--color-one) !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: var(--color-one);
}

::selection {
  color: white;
  background: var(--color-one);
}
