:root {
  /*rgb(10, 161, 149);*/

  --main-color: rgb(164, 129, 248);
  --main-color-light: rgb(249, 247, 255);
  --main-color-light-dark: rgb(227, 217, 252);
  --main-color-dark: rgb(133, 93, 226);
  --main-color-rgb: 164, 129, 248;
  /*--main-color: rgb(255, 0, 131);
  --main-color-light: rgb(255, 0, 131, 0.2);*/
}

.text-main {
  color: var(--main-color) !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: var(--main-color);
}

::selection {
  color: black;
  background: var(--main-color);
}
